@model InterCityBus_MK.Models.Stop

@{
    ViewData["Title"] = "Create";
}

<h1>Create Stop</h1>

<h4>Stop Details</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group mb-3">
                <label asp-for="TripId" class="control-label">Trip</label>
                <select asp-for="TripId" class="form-control" asp-items="ViewBag.TripId"></select>
            </div>

            <div class="form-group mb-3">
                <label asp-for="StationId" class="control-label">Station</label>
                <select asp-for="StationId" class="form-control" asp-items="ViewBag.StationId"></select>
            </div>

            <div class="form-group mb-3">
                <label asp-for="StopOrder" class="control-label"></label>
                <input asp-for="StopOrder" class="form-control" />
                <span asp-validation-for="StopOrder" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="ArrivalTime" class="control-label"></label>
                <input asp-for="ArrivalTime" type="time" class="form-control" />
                <span asp-validation-for="ArrivalTime" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}